# dependencies (bun install)
node_modules

# output
out
dist
build
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.turbo

# IDEs / editors
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Optional: uncomment if you don't want to commit lockfile
# bun.lockb
